<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="net.zhqu.website.bg.dao.PictureGroupingDao">
    <resultMap id="Base_Column_List" type="net.zhqu.website.bg.model.PictureGroupingModel">
        <id column="picture_grouping_id" property="id"/>
        <result column="picture_grouping_picture_ownership" property="pictureOwnership"/>
        <result column="picture_grouping_create_time" property="createTime"/>
        <result column="picture_grouping_last_modified_time" property="lastModifiedTime"/>
        <association property="creator" javaType="net.zhqu.framework.entity.User">
            <id     property="id"                       column="creator_id"/>
            <result property="name"                     column="creator_name"/>
        </association>
    </resultMap>

    <select id="findAllPage" resultMap="Base_Column_List" parameterType="Param">
        SELECT
        a.id                       picture_grouping_id,
        a.picture_ownership        picture_grouping_picture_ownership,
        a.create_time              picture_grouping_create_time,
        a.last_modified_time       picture_grouping_last_modified_time,
        b.id                       creator_id,
        b.name                     creator_name
        FROM picture_grouping a
        LEFT JOIN user b ON a.creator_id = b.id
        <include refid="commonQuery"/>
    </select>

    <select id="findOne" resultMap="Base_Column_List" parameterType="Param">
        SELECT
        a.id                       picture_grouping_id,
        a.picture_ownership        picture_grouping_picture_ownership,
        a.create_time              picture_grouping_create_time,
        a.last_modified_time       picture_grouping_last_modified_time,
        b.id                       creator_id,
        b.name                     creator_name
        FROM picture_grouping a
        LEFT JOIN user b ON a.creator_id = b.id
        <include refid="commonQuery"/>
    </select>

    <select id="findAll" resultMap="Base_Column_List">
        SELECT
        a.id                       picture_grouping_id,
        a.picture_ownership        picture_grouping_picture_ownership,
        a.create_time              picture_grouping_create_time,
        a.last_modified_time       picture_grouping_last_modified_time,
        b.id                       creator_id,
        b.name                     creator_name
        FROM picture_grouping a
        LEFT JOIN user b ON a.creator_id = b.id
    </select>

    <!-- 条件：通用查询 -->
    <sql id="commonQuery">
        <where>
            <if test="id!=null and '' != id ">
                AND a.id = #{id}
            </if>
            <if test="pictureOwnership!=null and '' != pictureOwnership">
                AND a.picture_ownership = #{pictureOwnership}
            </if>
        </where>
    </sql>

    <insert id="insert" parameterType="net.zhqu.website.bg.model.PictureGroupingModel">
        INSERT INTO picture_grouping(
                  id,
                  picture_ownership,
                  creator_id,
                  create_time,
                  last_modified_time
        )VALUES (
                 #{id},
                 #{pictureOwnership},
                 #{creator.id},
                 now(),
                 now()
        )
    </insert>

    <update id="update" parameterType="net.zhqu.website.bg.model.PictureGroupingModel">
        UPDATE picture_grouping a
        <set>
            a.last_modified_time = now(),
            <if test="pictureOwnership != null and '' != pictureOwnership">
                a.picture_ownership = #{pictureOwnership}
            </if>
        </set>
        WHERE
        a.id = #{id}
    </update>
</mapper>