<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="net.zhqu.website.bg.dao.QuestionsDao">
    <resultMap id="Base_Column_List" type="net.zhqu.website.bg.model.QuestionsModel">
        <id column="content_id" property="id"/>
        <result column="content_title" property="title"/>
        <result column="content_content" property="content"/>
        <result column="content_create_time" property="createTime"/>
        <result column="content_last_modified_time" property="lastModifiedTime"/>
        <association property="creator" javaType="net.zhqu.framework.entity.User">
            <id property="id" column="creator_id"/>
            <result property="name" column="creator_name"/>
            <result property="nickname" column="creator_nickname"/>
        </association>
        <association property="org" javaType="net.zhqu.framework.entity.Org">
            <id property="id" column="org_id"/>
            <result property="name" column="org_name"/>
        </association>

    </resultMap>

    <select id="findOne" parameterType="Param" resultMap="Base_Column_List">
        SELECT
        a.id                     content_id,
        a.title                  content_title,
        a.content                content_content,
        a.create_time            content_create_time,
        a.last_modified_time     content_last_modified_time,
        org.id                   org_id,
        org.name                 org_name,
        u.id                     creator_id,
        u.name                   creator_name,
        u.nickname                   creator_nickname
        FROM questions a
        LEFT JOIN org org ON a.org_id = org.id
        LEFT JOIN user u ON a.creator_id = u.id
        WHERE  a.id = #{id}
    </select>


    <select id="findAllPage" resultMap="Base_Column_List" parameterType="Param">
        SELECT
        a.id                     content_id,
        a.title                  content_title,
        a.content                content_content,
        a.create_time            content_create_time,
        a.last_modified_time     content_last_modified_time,
        org.id                   org_id,
        org.name                 org_name,
        u.id                     creator_id,
        u.name                   creator_name,
        u.nickname                   creator_nickname
        FROM questions a
        LEFT JOIN org org ON a.org_id = org.id
        LEFT JOIN user u ON a.creator_id = u.id
        <if test="orderByCreateTimeDesc">
            order by a.create_time desc
        </if>
    </select>


    <insert id="insert">
        INSERT INTO questions(
               title,
               content,
			   org_id,
			   creator_id,
			   create_time,
			   last_modified_time
        )VALUES(
            #{title},
            #{content},
            #{org.id},
            #{creator.id},
            now(),
            now()
            )
    </insert>


    <update id="update" parameterType="net.zhqu.website.bg.model.QuestionsModel">
        UPDATE questions a
        <set>
            a.last_modified_time = now(),
            <if test="title!=null and title != ''">a.title = #{title},</if>
            <if test="content!=null and content != ''">a.content = #{content},</if>
        </set>
        WHERE
        a.id = #{id}
    </update>

    <delete id="delete" parameterType="Param">
        DELETE FROM questions
        WHERE id = #{id, jdbcType=BIGINT}
    </delete>

</mapper>