<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="en">
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="shortcut icon" href="../../../../public/bg/img/logo/favicon.ico"  th:href="@{/bg/img/logo/favicon.ico}">
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <link rel="stylesheet" href="../../../../public/nzq/layui/css/layui.css" th:href="@{/nzq/layui/css/layui.css}"/>
    <link rel="stylesheet" href="../../../../public/nzq/layui/css/iconfont.css" th:href="@{/nzq/layui/css/iconfont.css}"/>
    <link rel="stylesheet" href="../../../../public/bg/css/global.css" th:href="@{/bg/css/global.css}"/>

</head>
<body>
        首页
</body>

</html>