<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="en">
    <meta charset="UTF-8">
    <title>图片轮播管理</title>
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <link rel="stylesheet" href="../../../../../public/nzq/layui/css/layui.css" th:href="@{/nzq/layui/css/layui.css}"/>
    <link rel="stylesheet" href="../../../../../public/nzq/layui/css/iconfont.css" th:href="@{/nzq/layui/css/iconfont.css}"/>
    <link rel="stylesheet" href="../../../../../public/bg/ec/css/picturePlugin.css" th:href="@{/bg/ec/css/picturePlugin.css}"/>
    <link rel="stylesheet" href="../../../../../public/bg/css/image_management.css" th:href="@{/bg/css/image_management.css}"/>
    <link rel="stylesheet" href="../../../../../public/bg/css/global.css" th:href="@{/bg/css/global.css}"/>
    <script src="../../../../../public/nzq/layui/layui.js"  th:src="@{/nzq/layui/layui.js}"></script>
    <script src="../../../../../public/js/global.js"  th:src="@{/js/global.js}"></script>
    <style>
        .layui-form-label {
            padding: 9px 10px;
        }

    </style>
</head>
<body>
<div class="body_bg">
    <fieldset class="layui-elem-field layui-field-title" >
        <legend th:text="${carouselPicCompModel ne null ?'修改':'新增'}">图片轮播管理</legend>
    </fieldset>

    <form class="layui-form" method="post" th:action="@{/bg/carouselPicComp/c/}">
        <input type="hidden" name="id" th:value="${carouselPicCompModel.id}" th:if="${carouselPicCompModel ne null}">
        <fieldset class="layui-elem-field layui-field-title" style="border: none">
            <div class="layui-field-box">
                <div class="layui-form-item">
                    <label class="layui-form-label">图片</label>
                    <div class="layui-input-block">
                        <a id="add_pictures" class="layui-btn add-pictures">添加图片</a>
                        <!--<span>图片比例：1:1 推荐尺寸：400px*400px</span>-->
                    </div>
                    <div class="picture-container picture" style="margin-left: 110px">
                        <div th:if="${carouselPicCompModel ne null and carouselPicCompModel.pic ne null}" >
                            <div class="pic_item" ><img th:src="${carouselPicCompModel.pic}"><input type="hidden" th:value="${carouselPicCompModel.pic}" name="pic"><i class="layui-icon">&#x1006;</i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-field-box">
                <div class="layui-form-item">
                    <label class="layui-form-label">名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="name" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input"
                               th:value="${carouselPicCompModel ne null ? carouselPicCompModel.name:''}">
                    </div>
                </div>
            </div>
            <div class="layui-field-box">
                <div class="layui-form-item">
                    <label class="layui-form-label">链接</label>
                    <div class="layui-input-block">
                        <input type="text" name="url"  placeholder="链接须以http://或者https://开头" autocomplete="off" class="layui-input"
                               th:value="${carouselPicCompModel ne null ?carouselPicCompModel.url:''}">
                    </div>
                </div>
            </div>

            <div class="layui-field-box">
                <div class="layui-form-item">
                    <label class="layui-form-label">标识</label>
                    <div class="layui-input-block">
                        <select name="code" lay-verify="required" lay-search="" lay-filter="code"
                                id="oneKeyCategory">
                            <option value="" th:text="请选择分类"></option>
                            <option value="index_banner"
                                    th:selected="${carouselPicCompModel ne null ? carouselPicCompModel.code == 'index_banner' : false}">主页轮播图
                            </option>
                        </select>
                    </div>
                    <!--<div class="layui-input-block">-->
                        <!---->
                        <!--<input type="text" name="code" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input"-->
                               <!--th:value="${carouselPicCompModel ne null ?carouselPicCompModel.code:''}">-->
                        <!--<p style="font-size: 14px;">主页轮播图填写：index_banner   其他暂定</p>-->
                    <!--</div>-->
                </div>
            </div>

            <div class="layui-field-box">
                <div class="layui-form-item">
                    <label class="layui-form-label">排序</label>
                    <div class="layui-input-block">
                        <input type="text" name="sequence" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input"
                               th:value="${carouselPicCompModel ne null ?carouselPicCompModel.sequence:''}">
                    </div>
                </div>
            </div>

        <div style="text-align: center;margin-bottom: 10px;">
            <button class="layui-btn" lay-submit lay-filter="*">提交</button>
            <a class="layui-btn comeBack">返回</a>
        </div>
        </fieldset>
    </form>
</div>
<div class="layui-hide">

</div>
<script>
    layui.config({
        base : '/nzq/layui'
    }).extend({
        selectPicture: '/lay/layui_extends/selectPicture',
    }).use(['jquery','form','layer','layedit','selectPicture'], function() {
        var $=layui.$;
        var layer=layui.layer;
        var form = layui.form;
        var layedit = layui.layedit;
        var selectPicture = layui.selectPicture;

        $(".comeBack").on('click', function () {
            location.href =  '/bg/carouselPicComp/v/index.html';
        })

        $('.picture-container').on('click','.pic_item .layui-icon',function () {
            $(this).parent().remove();
        })

        selectPicture({
            elem: '#add_pictures',
            callback:function (res) {
                $(".picture-container.picture").html('<div class="pic_item"><img src="'+res.url+'"><input type="hidden" value="'+res.url+'" name="pic"><i class="layui-icon">&#x1006;</i></div>');
//                $("input[name='name']").val(res.name);
            }
        });
    });
</script>

</body>
</html>