<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head lang="en">
    <meta charset="UTF-8">
    <title>帮助中心</title>
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <link rel="stylesheet" href="../../../../../public/nzq/layui/css/layui.css" th:href="@{/nzq/layui/css/layui.css}"/>
    <link rel="stylesheet" href="../../../../../public/bg/ec/css/product.css" th:href="@{/bg/ec/css/product.css}"/>
    <link rel="stylesheet" href="../../../../../public/nzq/layui/css/iconfont.css"
          th:href="@{/nzq/layui/css/iconfont.css}"/>
    <link rel="stylesheet" href="../../../../../public/bg/ec/css/picturePlugin.css"
          th:href="@{/bg/ec/css/picturePlugin.css}"/>
    <link rel="stylesheet" href="../../../../../public/bg/css/image_management.css"
          th:href="@{/bg/css/image_management.css}"/>
    <link rel="stylesheet" href="../../../../../public/bg/css/global.css" th:href="@{/bg/css/global.css}"/>
    <script src="../../../../../public/nzq/layui/layui.js" th:src="@{/nzq/layui/layui.js}"></script>
    <script src="../../../../../public/js/global.js" th:src="@{/js/global.js}"></script>
    <style>
        .layui-form-label {
            padding: 9px 10px;
        }

        #spots {
            margin: 6px 0px 0px 109px;
        }
    </style>
</head>
<body>
<div class="body_bg">


    <form class="layui-form layui-form submit-form"><!--th:action="@{/bg/adverts/c/}"-->
        <!--<input th:value="${currs}" type="hidden" id="currs" name="currs"> &lt;!&ndash; 暂存页数 提交或者返回时提交到后台 &ndash;&gt;-->
        <input id="id" type="hidden" name="id" th:value="${pageInfo.id}"
               th:if="${pageInfo ne null}">
        <input id="code" type="hidden" name="code" th:value="${pageInfo ne null and pageInfo.code ne null ? pageInfo.code :'help'}">
        <fieldset class="layui-elem-field layui-field-title">
            <legend>修改搜索优化内容</legend>
        </fieldset>
        <div class="layui-field-box">
            <div class="layui-form-item">
                <label class="layui-form-label">页面标题</label>
                <div class="layui-input-block">
                    <input type="text" name="seoTitle" lay-verify="required" placeholder="请输入网站页面标题"
                           autocomplete="off" class="layui-input" id="seoTitle"
                           th:value="${pageInfo ne null ? pageInfo.seoTitle:''}">
                </div>
            </div>
        </div>
        <div class="layui-field-box">
            <div class="layui-form-item">
                <label class="layui-form-label">页面关键字</label>
                <div class="layui-input-block">
                    <input type="text" name="seoKeywords" lay-verify="required" placeholder="请输入网站关键字"
                           autocomplete="off" class="layui-input" id="seoKeywords"
                           th:value="${pageInfo ne null ? pageInfo.seoKeywords:''}">
                </div>
            </div>
        </div>
        <div class="layui-field-box">
            <div class="layui-form-item">
                <label class="layui-form-label">页面描述</label>
                <div class="layui-input-block">
                    <input type="text" name="seoDescription" lay-verify="required" placeholder="请输入网站描述"
                           autocomplete="off" class="layui-input" id="seoDescription"
                           th:value="${pageInfo ne null ? pageInfo.seoDescription:''}">
                </div>
            </div>
        </div>

        <div class="layui-field-box">
            <div class="layui-form-item">
                <label class="layui-form-label">固定大图片</label>
                <div class="layui-input-block">
                    <a id="add_pictureApImg" class="layui-btn">添加图片</a>
                    <span>图片比例：1:1！推荐比例： 1300px*430px</span>
                </div>
                <div class="picture-container ApImgs" style="margin-left: 110px">
                    <div th:if="${pageInfo ne null}">
                        <div class="pic_item ApImg">
                            <img th:src="${pageInfo.banner}" th:if="${pageInfo ne null }" height="60"/>
                            <input id="bannerImg" type="hidden" name="banner"
                                   th:value="${pageInfo.banner ne null ? pageInfo.banner : ''}">
                            <i class="layui-icon">&#x1006;</i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="text-align: center;margin-bottom: 10px;">
            <!--<button class="layui-btn" lay-submit="" id="sub-btn">提交</button>-->
            <!--<input type="button" class="layui-btn comeBack" lay-submit="" value="返回" name="comeBack"/>-->
            <a class="layui-btn submit-btn">提交</a>
            <!--<a class="layui-btn comeBack">返回</a>-->
        </div>
    </form>
</div>

<script>
    layui.config({
        base: '/nzq/layui'
    }).extend({
        selectPicture: '/lay/layui_extends/selectPicture'
    }).use(['jquery', 'form', 'layer', 'laydate', 'selectPicture'], function () {
        var $ = layui.$;
        var layer = layui.layer;
        var form = layui.form;
        var selectPicture = layui.selectPicture;
        var subform = $(".submit-form");
        $('.picture-container').on('click', '.pic_item .layui-icon', function () {
            $(this).parent().remove();
        });
        //ApImgs
        selectPicture({
            elem: '#add_pictureApImg',
            callback: function (res) {
                $(".picture-container.ApImgs").html('<div class="pic_item ApImg"><img src="' + res.url + '"><input id="bannerImg" type="hidden" value="' + res.url + '" name="banner"><i class="layui-icon">&#x1006;</i></div>');
            }
        });


        $(".submit-btn").on("click", function () {
            $.ajax({
                url: "/bg/pageInfo/c/",
                type: "post",
//                contentType: "application/json;charset=UTF-8",//必须
                data: $(subform).serialize(),
                success: function (data) {
                    if (data != null) {
                        if (data.code == 0) {
                            layer.msg("保存成功");
                            location.reload();
                        } else {
                            layer.msg(data.msg);
                        }
                    }
                }, fail: function () {
                    layer.msg("后台报错");
                }
            });
        });
//        $(".comeBack").on('click', function () {
//            location.href = "/bg/introduce/v/index.html";
//        });
    });
</script>

</body>
</html>