<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head lang="en">
    <meta charset="UTF-8">
    <title>产品列表</title>
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <link rel="stylesheet" href="../../../../../public/nzq/layui/css/layui.css" th:href="@{/nzq/layui/css/layui.css}"/>
    <link rel="stylesheet" href="../../../../../public/nzq/layui/css/iconfont.css"
          th:href="@{/nzq/layui/css/iconfont.css}"/>
    <link rel="stylesheet" href="../../../../../public/bg/css/global.css" th:href="@{/bg/css/global.css}"/>
    <script src="../../../../../public/nzq/layui/layui.js" th:src="@{/nzq/layui/layui.js}"
            type="text/javascript"></script>
    <script src="../../../../../public/js/global.js" th:src="@{/js/global.js}"></script>
    <style>
        .layui-btn.gray {
            background: #f2f2f2;
            color: #999999;
            border: 1px solid #e4e4e4;
        }

        .layui-form-item {
            clear: none;
            float: left;
        }

        .laytable-cell-1-pic { /*最后的pic为字段的field*/
            height: 100%;
            max-width: 100%;
        }
    </style>
</head>
<body>
<div style="padding: 10px;">
    <button class="layui-btn  layui-btn-sm layui-btn-primary" id="newBtn">
        <i class="layui-icon">&#xe608;</i>
        新增
    </button>
</div>

<table id="dataTable" lay-filter="lTable"></table>
<div class="popupHtml callback"></div>
<script type="text/html" id="bar">
    <a class="layui-btn layui-btn-xs operate-btn" lay-event="delete">删除</a>
    <!--<a class="layui-btn layui-btn-xs operate-btn" lay-event="editSort">设置排序</a>-->
    <a class="layui-btn layui-btn-xs operate-btn" lay-event="edit">编辑</a>
</script>


</div>
<script>
    layui.use(['element', 'table', 'jquery', 'util', 'upload', 'form'], function () {
            var $ = layui.$;
            var table = layui.table;
            var form = layui.form;
            var util = layui.util;
            //第一个实例
            var tableObj = table.render({
                elem: '#dataTable'
                , url: '/bg/product/r/all.json'//数据接口
                , page: true
                , loading: true
                , even: true
                , cols: [
                    [ //表头
//                    {type: "checkbox"},
                        {field: "", title: "序号", align: "center", type: "numbers"}
                        , {field: "mainImage", title: "图片", align: "center", templet: function (d) {
                            if (d.mainImage == null || d.mainImage == '') {
                                return '';
                            } else {
                                return '<img src='+ d.mainImage +'/>';
                            }}}
                        , {field: "name", title: "名称", align: "center"}
                        , {field: "category", title: "分类", align: "center", templet: function (d) {
                            if (d.category == null || d.category == '') {
                                return '';
                            } else {
                                return d.category.name;
                            }
                        }}
                        ,{field: "createTime", title: "创建时间", align: "center", templet: function (d) {
                            return util.toDateString(d.createTime, "yyyy-MM-dd HH:mm:ss")
                        }}
                        , {field: "lastModifiedTime", title: "最后修改时间", align: "center", templet: function (d) {
                            return util.toDateString(d.lastModifiedTime, "yyyy-MM-dd HH:mm:ss")
                        }}
                        , {field: "score", title: "操作", toolbar: "#bar", align: "center"}
                    ]
                ], done: function (res, curr, count) {

                }
            });


            var iframeIndex;
            table.on('tool(lTable)', function (obj) { //监听button工具条执行查看 添加删除等功能
                var data = obj.data;
                if (obj.event === 'edit') {
                    location.href = '/bg/product/v/' + data.id;
                } else if (obj.event === 'editSort') {
//                    iframeIndex = layer.open({
//                        type: 2,
//                        title: '设置排序',
//                        shadeClose: true,
//                        shade: false,
//                        //maxmin: true, //开启最大化最小化按钮
//                        area: ['400px', '300px'],
//                        content: '/bg/footer/v/soft/' + data.id + '.html'
//                    });
                } else if (obj.event === 'delete') {
                    layer.confirm('是否删除', function (index) {
                        $.ajax({
                            url: '/bg/product/d/' + data.id,//传data.id
                            type: 'delete',
                            success: function (data) {
                                if (data.code == 0) {
                                    layer.msg('删除成功');
                                    tableObj.reload();
                                }
                            }
                        })
                        layer.close(index);
                    });
                }
            });

            $(".callback").on("click", function () {
                layer.close(iframeIndex);
                location.reload();
            });
            $("#newBtn").on("click", function () {
                location.href = "/bg/product/v/add.html";
            });
        }
    );
</script>
</body>
</html>