<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <link rel="stylesheet" href="../../../../../public/nzq/layui/css/layui.css" th:href="@{/nzq/layui/css/layui.css}"/>
    <link rel="stylesheet" href="../../../../../public/nzq/layui/css/iconfont.css" th:href="@{/nzq/layui/css/iconfont.css}"/>
    <link rel="stylesheet" href="../../../../../public/bg/css/global.css" th:href="@{/bg/css/global.css}"/>
    <script src="../../../../../public/nzq/layui/layui.js"  th:src="@{/nzq/layui/layui.js}"></script>
    <script src="../../../../../public/js/global.js"  th:src="@{/js/global.js}"></script>
</head>
</head>
<body>
<div class="body_bg">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>修改密码</legend>
    </fieldset>
    <!--<div th:if="${not #strings.isEmpty(success)}" th:text="${success}" id="success">

    </div>-->
    <div >
        <form class="layui-form submit-form" method="post" th:action="@{/bg/user/changePassword}">
            <div class="layui-field-box">
                <div class="layui-form-item">
                    <label class="layui-form-label">*旧密码</label>
                    <div class="layui-input-inline">
                        <input type="password" name="oldPassword" lay-verify="required" placeholder="旧密码" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux" style="color: red!important;" th:if="${not #strings.isEmpty(errorOldPassword)}" th:text="${errorOldPassword}"></div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">*新密码</label>
                    <div class="layui-input-inline">
                        <input type="password" name="newPassword"  lay-verify="required" placeholder="新密码" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux" style="color: red!important;"  th:if="${not #strings.isEmpty(errorNewPassword)}" th:text="${errorNewPassword}"></div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">*再次输入</label>
                    <div class="layui-input-inline">
                        <input type="password" name="newPasswordConfirm" lay-verify="newPasswordConfirm" placeholder="新密码" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux" style="color: red!important;" th:if="${not #strings.isEmpty(errorNewPasswordConfirm)}" th:text="${errorNewPasswordConfirm}"></div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn submit-btn" lay-submit="" >立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    layui.use(['jquery','form','layer'], function() {
        var $=layui.$;
        var layer=layui.layer;
        var form = layui.form;

        form.verify({
            newPasswordConfirm: function(value){
                if ($("input[name='newPassword']").val() != value) {
                    return "两次新密码不一样";
                }
            }
        });

        $(".submit-btn").on("click", function () {
            var index = layer.load(0, {shade: false});
            var url = "/bg/user/changePassword";

            $.ajax({
                url:url,
                type:'post',
                data:$(".submit-form").serialize(),
                success:function(data){
                    if(data!=null) {
                        if(data.code==0) {

                            layer.alert("修改成功",function (e) {
                                $(parent.document).find(".callback").click();
                            });
                        }else
                        {
                            layer.alert(data.msg);
                        }
                        layer.close(index);
                    }
                },fail:function () {
                    layer.close(index);
                    layer.alert("后台报错");
                }
            });

            return false;
        });

    });
</script>
</body>
</html>