@import "valid";

.mark_img{
  display: none;
  position:fixed;
  top:50%;
  left:50%;
  transform:translateX(-50%) translateY(-50%);
  width: 1000px;
  height: 600px;
  background: #ffffff;
  border: 1px solid #cccccc;
  //弹窗头部
  .mark_head{
    height: 45px;
    padding: 10px;
    font-size: 18px;
    background: #ffffff;
    border-bottom: 1px solid #ededed;
    .close{
      cursor: pointer;
      float: right;
      img{
        width: 20px;
        height: 20px;
      }
    }
  }
  //弹窗内容
  .mark_body{
    height: 508px;
    overflow: hidden;
    //分组
    .mark_left{
      float: left;
      width: 200px;
      height: 508px;

      background: #ededed;
      ul{
        padding: 10px 0;
        li{
          display: block;
          font-size: 16px;
          padding: 0 60px 0 10px;
          line-height: 40px;
          height: 40px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .on{
          background: #ffffff;
        }
        .num{
          width: 40px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          float: right;
          text-align: right;
          margin-right: -50px;
        }
      }
    }
    //图片展示
    .mark_right{
      float: right;
      width: 790px;
      height: 508px;

      .img_box{
        height: 400px;
        overflow: hidden;
        .img_on{
          box-shadow: 0px 0px 4px 3px #8297ff;
          -webkit-box-shadow: 0px 0px 4px 3px #8297ff;
          -o-box-shadow: 0px 0px 4px 3px #8297ff;
          -moz-box-shadow: 0px 0px 4px 3px #8297ff;
        }
        li{
          float: left;
          margin:5px 18px ;
          .img{
            width: 160px;
            height: 160px;
            overflow: hidden;
            position: relative;
            img{
              width: 160px;
              height: 160px;
            }
            p{
              color: #ffffff;
              position: absolute;
              bottom: 0;
              left: 0;
              width: 160px;
              background: #000;
              opacity: 0.6;
              text-align: center;
            }
          }
          p{
            font-size: 16px;
            width: 160px;
            height: 30px;
            line-height: 30px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }
      .mark_right_bottom{
        font-size: 14px;
        overflow: hidden;
        margin-top: 30px;

      }
    }
  }
  //弹窗底部
  .mark_footer{
    border-top: 1px solid #ededed;
    text-align: center;
    height: 45px;
    padding:7px 10px;
    background: #ffffff;
  }
}

//商品图片
.picture-container{
  overflow: hidden;
  padding:0 10px;
  border-top: 1px solid #DEDEDE;

  .pic_item{
    position: relative;
    float: left;
    width: 110px;
    height: 110px;
    overflow: hidden;
    margin: 5px 10px 5px 0;
    img{
      width: 110px;
      height: 110px;
    }
    .layui-icon{
      position: absolute;
      font-size: 20px;
      top: 0;
      right: 0;
      background: rgba(0,0,0,0.2);
      width: 20px;
      height: 22px;
      color: #ffffff;
      cursor: pointer;
      display: none;
    }
  }
  .pic_item:hover{
    .layui-icon{
      display: block;
    }
  }
}