.input {
  height: 34px;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #C9C9C9;
  opacity: .7;
}
.input:focus {
  border: #ff8080;
}
.tRight {
  margin-bottom: 25px;
}
.tRight a:hover {
  color: #fff;
}
.tRight dt {
  padding: 0 40px 0 5px ;
}
.tRight dt a {
  font-size: 1.2em;
  color: #06A8E9;
}
.tRight dd a {
  display: inline-block;
  text-align: center;
  background-color: #C9C9C9;
  width: 30px;
  padding: 2px;
}
.tRight a:hover {
  background-color: #06A8E9;
}
.tRight .foc {
  background-color: #C4C4C4;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fl {
  float: left;
}
.rl {
  float: right;
}
@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*设置基本的样式*/
* {
  box-sizing: border-box;
}
body {
  line-height: 1.4;
  font-size: 12px;
  font-family: 'Microsoft Yahei', Tahoma, Verdana;
  color: #4D4D4D;
}
body,
html,
ul,
p,
div,
h1,
h2,
h3,
h4,
h5,
ol,
dl,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}
#section,
#top,
#login,
#manage,
#cSection {
  margin-left: auto;
  margin-right: auto;
  width: 1120px;
}
a {
  color: #666;
  text-decoration: none;
}
a:hover {
  color: #6ED7FF;
}
.input {
  padding: 10px;
}
.mark_img {
  z-index: 99999999;
}
.center {
  width: 98%;
  margin: 0 auto;
}
.center .add_first_box {
  margin: 10px 0;
  border-bottom: 1px solid #e6e6e6;
}
.center .add_first_box .add_first:hover {
  border: 1px solid #C9C9C9;
}
.center .categeory_content .one_categeory a:hover {
  cursor: pointer;
}
.center .categeory_content .one_categeory i {
  font-style: normal;
}
.center .categeory_content .one_categeory span {
  border-width: 1px;
  border-style: solid;
  border-color: #e6e6e6;
  padding: 10px 16px;
  line-height: 20px;
  font-size: 14px;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.center .categeory_content .one_categeory .more {
  float: right;
}
.center .categeory_content .one_categeory .two_categeory {
  display: none;
}
.center .categeory_content .one_categeory .two_categeory .layui-col-xs4 {
  padding: 10px 16px 10px 30px;
}
.center .categeory_content .one_categeory .two_categeory .three_categeory {
  display: none;
}
.center .categeory_content .one_categeory .two_categeory .three_categeory .layui-col-xs4 {
  padding: 10px 16px 10px 40px;
}
.edit_models {
  margin: 10px;
}
.edit_models .edit_list {
  font-size: 0;
  padding: 15px 0;
  overflow: hidden;
}
.edit_models .edit_list .edit_item {
  display: block;
  float: left;
  position: relative;
  font-size: 16px;
  margin-right: 20px;
  margin-bottom: 10px;
}
.edit_models .edit_list .edit_item a {
  display: block;
  background: #F5F5F5;
  padding: 4px 14px;
  border: 1px solid #d7d7d7;
  border-radius: 5px;
  color: #666666;
  cursor: pointer;
}
.edit_models .edit_list .edit_item .edit_item_close {
  display: none;
  position: absolute;
  right: -10px;
  top: -12px;
  height: 20px;
  width: 20px;
  background: rgba(0, 0, 0, 0.5);
  color: #FFF;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  font-style: normal;
  cursor: pointer;
}
.edit_models .edit_add input {
  height: 34px;
  padding: 5px;
  width: 210px;
  border: 1px solid #dfdfdf;
  float: left;
  border-right: none;
}
.edit_models .edit_add a {
  background: #F5F5F5;
  height: 34px;
  line-height: 34px;
  text-align: center;
  display: inline-block;
  min-width: 80px;
  border: 1px solid #DFDFDF;
  color: #666666;
  cursor: pointer;
}
.edit_models .edit_select {
  margin-bottom: 10px;
}
.edit_models .edit_select select {
  height: 30px;
  width: 100%;
  font-size: 14px;
}
.edit_models .edit_select select option {
  font-size: 14px;
}
